#-- GCP Settings ------------------------------------------------

GCP_PROJECT=<PROJECT>
GCP_REGION=<REGION>
GCP_ZONE=<ZONE>

#----------------------------------------------------------------

#-- Tide API Config -------------------------------------------

TIDE_API_AUTH_URL=http://tide.local/api/tide/v1/auth
TIDE_API_HOST=tide.local
TIDE_API_PROTOCOL=http
TIDE_API_KEY=<YOUR_API_KEY>
TIDE_API_SECRET=<YOUR_API_SECRET>
TIDE_API_VERSION=v1

#----------------------------------------------------------------

#-- Lighthouse Server -------------------------------------------

# GKE Settings
LH_GKE_IMAGE=<IMAGE>
LH_GKE_CLUSTER=<CLUSTER>
LH_GKE_CLUSTER_VERSION=<CLUSTER_VERSION>
LH_GKE_MACHINE_TYPE=<MACHINE_TYPE>
LH_GKE_DISK_SIZE=<DISK_SIZE>
LH_GKE_NUM_NODES=<NUM_NODES>
LH_GKE_MIN_NODES=<MIN_NODES>
LH_GKE_MAX_NODES=<MAX_NODES>
LH_GKE_REPLICAS=<REPLICAS>
LH_GKE_MIN_PODS=<MIN_PODS>
LH_GKE_MAX_PODS=<MAX_PODS>
LH_GKE_CPU_PERCENT=<CPU_PERCENT>

# SQS Queue
LH_SQS_VERSION=2012-11-05
LH_SQS_REGION=<SQS_REGION>
LH_SQS_KEY=<SQS_KEY>
LH_SQS_SECRET=<SQS_SECRET>
LH_SQS_QUEUE_NAME=<SQS_QUEUE_NAME>

# S3 Storage
LH_S3_REGION=<S3_REGION>
LH_S3_KEY=<S3_KEY>
LH_S3_SECRET=<S3_SECRET>
LH_S3_BUCKET_NAME=<S3_BUCKET>

# Server settings
LH_CONCURRENT_AUDITS=5

#----------------------------------------------------------------

#-- PHPCS Server ------------------------------------------------

# GKE Settings
PHPCS_GKE_IMAGE=<IMAGE>
PHPCS_GKE_CLUSTER=<CLUSTER>
PHPCS_GKE_CLUSTER_VERSION=<CLUSTER_VERSION>
PHPCS_GKE_MACHINE_TYPE=<MACHINE_TYPE>
PHPCS_GKE_DISK_SIZE=<DISK_SIZE>
PHPCS_GKE_NUM_NODES=<NUM_NODES>
PHPCS_GKE_MIN_NODES=<MIN_NODES>
PHPCS_GKE_MAX_NODES=<MAX_NODES>
PHPCS_GKE_REPLICAS=<REPLICAS>
PHPCS_GKE_MIN_PODS=<MIN_PODS>
PHPCS_GKE_MAX_PODS=<MAX_PODS>
PHPCS_GKE_CPU_PERCENT=<CPU_PERCENT>

# SQS Queue
PHPCS_SQS_VERSION=2012-11-05
PHPCS_SQS_REGION=<SQS_REGION>
PHPCS_SQS_KEY=<SQS_KEY>
PHPCS_SQS_SECRET=<SQS_SECRET>
PHPCS_SQS_QUEUE_NAME=<SQS_QUEUE_NAME>

# S3 Storage
PHPCS_S3_REGION=<S3_REGION>
PHPCS_S3_KEY=<S3_KEY>
PHPCS_S3_SECRET=<S3_SECRET>
PHPCS_S3_BUCKET_NAME=<S3_BUCKET>

# Server settings
PHPCS_CONCURRENT_AUDITS=5
PHPCS_TEMP_FOLDER=/tmp

#----------------------------------------------------------------

#-- Sync Server -------------------------------------------------

# GKE Settings
SYNC_GKE_IMAGE=<IMAGE>
SYNC_GKE_CLUSTER=<CLUSTER>
SYNC_GKE_CLUSTER_VERSION=<CLUSTER_VERSION>
SYNC_GKE_MACHINE_TYPE=<MACHINE_TYPE>
SYNC_GKE_DISK_SIZE=<DISK_SIZE>

# PHPCS SQS Queue
PHPCS_SQS_QUEUE=on

# Lighthouse SQS Queue
LH_SQS_QUEUE=off

# Server settings
SYNC_ACTIVE=off
SYNC_API_BROWSE_CATEGORY=updated
SYNC_DATA=./db
SYNC_DEFAULT_CLIENT=wporg
SYNC_DEFAULT_VISIBILITY=public
SYNC_FORCE_AUDITS=no
SYNC_ITEMS_PER_PAGE=250
SYNC_POOL_DELAY=600
SYNC_POOL_WORKERS=125

#----------------------------------------------------------------

#-- API ---------------------------------------------------------

API_LOCAL_ADMIN_EMAIL=<WP ADMIN EMAIL>
API_LOCAL_ADMIN_PASSWORD=<WP ADMIN PASSWORD>
API_LOCAL_ADMIN_USER=<WP ADMIN USERNAME>
API_LOCAL_DESCRIPTION=Automated insight into your WordPress code
API_LOCAL_DOMAIN=tide.local
API_LOCAL_THEME_NAME=twentyseventeen
API_LOCAL_TITLE=Tide

API_LOCAL_SQL_HOST=api-mysql
API_LOCAL_SQL_HOST_PORT=3306
API_LOCAL_SQL_DB=wordpress
API_LOCAL_SQL_PASSWORD=wordpress
API_LOCAL_SQL_ROOT_PASSWORD=wordpress
API_LOCAL_SQL_USER=wordpress

API_CLOUD_SQL_DB=wordpress
API_CLOUD_SQL_PASSWORD=wordpress
API_CLOUD_SQL_USER=wordpress

# AWS S3 settings
AWS_S3_BUCKET_NAME=<AWS S3 BUCKET NAME>
AWS_S3_KEY=<AWS S3 KEY>
AWS_S3_REGION=us-west-2
AWS_S3_SECRET=<AWS S3 SECRET>
AWS_S3_VERSION=2006-03-01

# AWS SQS settings
AWS_SQS_KEY=<AWS SQS KEY>
AWS_SQS_QUEUE_NAME=<AWS SQS QUEUE NAME>
AWS_SQS_REGION=us-west-2
AWS_SQS_SECRET=<AWS SQS SECRET>
AWS_SQS_VERSION=2012-11-05

#----------------------------------------------------------------