.idea
vendor
_vendor

# Variables
.env
.env.gcp

# MacOS
.DS_Store

# GO Binary
bin/*-server

# GO testdata report
report.json

# Output of Overalls, specifically when used with Travis CI & Coveralls
*.coverprofile

# Server data
data

# GKE YAML Configurations
**/*.yaml

# API
service/api/vendor
service/api/wordpress
service/api/wp-content/plugins/flush-opcache
service/api/wp-content/plugins/pj-page-cache-red
service/api/wp-content/plugins/wp-redis
service/api/wp-content/themes
!service/api/wp-content/themes/tide
service/api/wp-content/uploads
service/api/wp-content/upgrade
service/api/app.yaml
service/api/cron.yaml
service/api/wp-config.php

# Sync Server
cmd/sync-server/db

# GCP
service-account.json