[submodule "service/api/wp-content/plugins/wp-tide-api"]
	path = service/api/wp-content/plugins/wp-tide-api
	url = https://github.com/wptide/wp-tide-api.git
[submodule "service/api/wp-content/themes/docs"]
	path = service/api/wp-content/themes/docs
	url = https://github.com/wptide/docs.git
