[submodule "service/api/wp-content/plugins/wp-tide-api"]
	path = service/api/wp-content/plugins/wp-tide-api
	url = https://github.com/wptide/wp-tide-api.git
[submodule "service/api/wp-content/plugins/wporg-tide-api"]
	path = service/api/wp-content/plugins/wporg-tide-api
	url = https://github.com/wptide/wporg-tide-api.git
